*{
    margin: 0;
    padding: 0;
}
.header-1{
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: 25px;
    background-color: black;
}
li{
    text-decoration: none;
}